:root {
    --white: #ffffff;
    --black: #000000;
    --grey1: #E0E0E0;
    --grey2: #979797;
    --grey3: #888888;
    --grey4: #333333;
    

}
body {
    margin: 0;
    padding: 0;
    font-family: lato;
  
}
.container{
    position: relative;
    width: 411px;
    height: 731px;
    background: var(--white);    
}
.status-bar{
    position: absolute;
    width: 411px;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: var(--black);
}
.header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 411px;
    height: 60px;
    top: 24px;
    left: 0px;
    background: var(--grey1);
    align-items: center;
}
.title{
    font-family: Lato;
    font-style: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    color: var(--grey4);
}
.menu {
    width: 18px;
    height: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: index 1;
}
.logo{
    position: absolute;
    width: 30px;
    height: 18px;
    left: 22px;
    top: 20px; 
}
.form{
    position: absolute;
    width: 371px;
    height: 290px;
    left: 20px;
    top: 110px;
    border-bottom: 1px solid var(--grey2);
}
label {
    color: var(--black);
    font-size: 12px;
    font-family: lato;
    margin-top: 5px;
}
#transaction-type {
    color: var(--grey4);
    font-family: lato;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(207, 204, 204);
}
input {
    display: flex;
    flex-direction: column;
    color: var(--grey3);
    font-size: 12px;
    font-family: Inter;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(207, 204, 204);
}
.button-primary {
    background-color:var(--grey4);
    color: var(--white);
    border: none;
    border-radius: 4px;
    width: 371px;
    height: 32px;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 220px;
    bottom: 0%;
}
.button-primary:hover {
    border: 1px solid  var(--grey4);
    color: var(--grey4);
    background-color: var(--white);
}
.account-statement{
    position: absolute;
    width: 371px;
    height: 281px;
    left: 20px;
    top: 420px;
    background: #FFFFFF;
}
.sub-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 12px;
    justify-content: space-between; 
}
.thead {
    border-bottom: 1px solid var(--grey2);
}
.tr {
    border-bottom: 1px solid rgb(207, 204, 204);
    height: 30px;
}
span {
    color: red;
    font-family: lato;
    font-size: 8px;
}
.footer {
    position: absolute;
    width: 411px;
    height: 8px;
    left: 0px;
    right: 0px;
    top: 731px;
    background: var(--grey2);
}

/*responsive*/
@media (max-width: 624px){
    .container{
        display: flex;
        width: 100%;
    }
 }
       